*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  inline-size: 100%;
  padding: 133px 30px;
  display: flex;
  gap: 30px;
}

.result {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 100%;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: fill;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-block-end: 5px;
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield {
  min-inline-size: 225px;
  block-size: 27px;
  padding: 0;
  appearance: none;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  border-color: #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: none;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:active:has(:focus-visible) {
  outline: none;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
}

.button {
  inline-size: 100%;
  min-block-size: 34px;
  border: 1px solid #fff;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  align-self: flex-end;
}

.content__details {
  min-inline-size: 399px;
  display: flex;
  flex-direction: column;
}

.title {
  padding-block-end: 26px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 298px;
  padding: 1px 2px 0 2px; /* для того чтобы рамки при focus-visible были видны */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: visible scroll;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  inline-size: 1%;
  flex-grow: 1;
}

.content__video-card-title {
  padding-block-end: 6px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 107px;
  object-fit: cover;
}
